@using EngageNet.Mvc.Html;
@using lawrukmvc.Helpers;
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    @Html.Engage().LogOnLinkScript()

</head>
<body>
<div id="page-wrap" class="@ViewContext.RouteData.Values["Controller"].ToString().ToLower()-@ViewContext.RouteData.Values["Action"].ToString().ToLower()">

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="/">Lawruk.com</a>
        <ul class="nav">        
        @RazorHelpers.LiLink("/about","About")
        @RazorHelpers.LiLink("/news", "News")
        @RazorHelpers.LiLink("/metro", "Metro")
        @RazorHelpers.LiLink("/weather", "Weather")
        @RazorHelpers.LiLink("/blog", "Blog")        
        @RazorHelpers.LiLink("/videos", "Videos")
        @RazorHelpers.LiLink("/rachelemmett", "Rachel and Emmett")
        @if (!lawrukmvc.Helpers.Account.LoggedIn)
        {
        <li class="rpx">@Html.Engage().LogOnLink("Log In", "ProcessLogOn", "Account")</li>
        }
        else
        {
        <li class="rpx">@Html.ActionLink("Log Out " + Session["Name"].ToString(), "LogOff", "Account")</li>
        }
        
        </ul>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <div class="row">
            <div class="span10">	
                <h1>@ViewBag.Title</h1>        
                @RenderBody()
            </div>
            <div class="span2">
                @RenderSection("right", required: false)                 
            </div>
        </div>
    </div>
</div>

</div>
 <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-2931615-2");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>   
</body>
</html>



